defaults:
  # Application specific configuration keys
  app:
    # Prefix for exchanges, should always be v1/
    exchangePrefix: v1/
    namespaceTableName: 'PulseNamespaces'
    namespacesExpirationDelay: '- 1 hour'

  aws:
    accessKeyId:      !env AWS_ACCESS_KEY_ID
    secretAccessKey:  !env AWS_SECRET_ACCESS_KEY
    region:           us-east-1
    apiVersion:       2014-01-01

  taskcluster:
    credentials:      # Load strings from environment variables
      clientId:       !env TASKCLUSTER_CLIENT_ID
      accessToken:    !env TASKCLUSTER_ACCESS_TOKEN

  server:
    publicUrl:                https://pulse.taskcluster.net
    port:                     !env:number PORT
    env:                      !env NODE_ENV
    forceSSL:                 !env:bool FORCE_SSL
    trustProxy:               !env:bool TRUST_PROXY

  rabbit:
    username:                 !env RABBIT_USERNAME
    password:                 !env RABBIT_PASSWORD
    baseUrl:                  !env RABBIT_BASE_URL

  azure:
    account:                  !env AZURE_ACCOUNT_NAME

  stressor:
    payloadSize:              !env STRESSOR_PAYLOAD_SIZE
    uploadRate:               !env STRESSOR_UPLOAD_RATE
    messageCount:             !env STRESSOR_MESSAGE_COUNT
    amqpUrl:                  !env STRESSOR_AMQP_URL
    targetQueue:              !env STRESSOR_TARGET_QUEUE

  monitor:
    amqpUrl:                  !env MONITOR_AMQP_URL
    refreshInterval:          !env MONITOR_REFRESH_INTERVAL

production:
  server:
    forceSSL:                 true
    trustProxy:               true
    env:                      'production'

test:
  server:
    publicUrl:        http://localhost:60403
    port:             60403
    forceSSL:         false
    trustProxy:       false
    env:              development

  stressor:
    payloadSize: 20
    uploadRate: 50
    messageCount: 5
    amqpUrl: 'amqp://localhost'
    targetQueue: 'stressor queue'

  monitor:
    amqpUrl: 'amqp://localhost'
    refreshInterval: 1000

  azure:
    account:  "inMemory"


